<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="app.js"></script>

    <title>Tabela Verdade</title>
</head>

<body ng-controller="TabelaController">
    <h1 class="text-center">Tabela Verdade</h1>
    <div class="col-sm-12">
        <div class="col-sm-12">
            <input type="number" class="form-control" ng-model="qtdElementos" placeholder="ATÉ 2 ELEMENTOS" max="2"
                placeholder="Quantidade de Elementos">
            <button class="btn btn-success btn-block" ng-click="gerar()">Gerar</button>
            <button class="btn btn-danger btn-block" ng-show="tabelas.length>0" ng-click="negar()">Gerar Negação</button>
        </div>
        <div class="col-sm-12">
            <table class="table-responsive table-hover" style="width:100%">
                <tr>
                    <td ng-repeat="tabela in tabelas" >
                        <div class="label label-primary" style="width:100%"><b>{{tabela.nome}}</b></div>
                        <table>
                            <tr ng-repeat="valor in tabela.valores track by $index">
                                <td style="width:100%">
                                    <div class="label label-success" ng-show="valor==true">V</div>
                                    <div class="label label-danger" ng-show="valor==false">F</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</body>

</html>